@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2{
    font-family: 'Single Day', cursive;
    font-size: 2em;    
}