@charset "UTF-8";

@media screen and (max-width: 950px){
    .card-login{
        width: 100%;
        background-color: white;
    }
}

@media screen and (max-width: 600px){

    main{
        display: flex;
        flex-direction: column;
    }

    .img-text > h1{
        display: none;
    }

    .img-text{
        width: 100%;
        height: auto;
    }

    div.form{
        width: 100%;
        height: auto;
    }
  
}