@charset "UTF-8";


*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: lightgray;
}

fieldset{
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 9px 9px 0px rgba(0, 0, 0, 0.545);
    width: 300px;

    transition: width 1s;


    margin-bottom: 20px;
}

fieldset:hover{
    width: 45vw;
    transition: 1s;
}

h1{
    background-color: rgb(111, 111, 111);
    border-radius: 20px;
    padding: 8px;
    width: 300px;
    box-shadow: 9px 9px 0px black;
}